# Link Dataset

Dikarenakan ukuran dataset yang terlalu besar(42MB), maka untuk dataset saya upload di gdrive, berikut link Gdrive dataset:

[Belgium Population Classification](https://drive.google.com/file/d/1WGAMXm3Pkl7sp2xvdJQPbsOa4Z-MpESc/view?usp=sharing)

# Import pandas dan membaca file csv menggunakan encoding 'latin-1'

Encoding default membaca file csv yang digunakan pandas adalah **'UTF-8'**, mengubah encoding pandas menjadi **'latin-1'** agar file bisa dibaca oleh pandas

In [ ]:
import pandas as pd

df = pd.read_csv("BELGIUM_POPULATION_STRUCTURE_2018.csv", encoding='latin-1')

# Memilah kolom yang bertipe data angka 

Membuat variabel **numeric_columns** untuk menampung dataset, dataset akan dipilah menggunakan *"select_dtypes(include=['number'])"* sehingga hanya memilih kolom yang bertipe numerik

In [ ]:
numeric_columns = df.select_dtypes(include=['number'])

# Menampilkan statistik dataset yang bertipe numerik

1. Membuat variabel **stats** untuk menampung statistik dataset yang bertipe numerik
2. Mengisi value variabel **stats** dengan *"numeric_columns.describe()"* untuk menampilkan statistik dataset yang bertipe numerik

In [ ]:
stats = numeric_columns.describe()

## Menampilkan Rata Rata

Menggunakan *".loc['mean']"* pada variabel **stats**

In [ ]:
print("Rata-rata:")
print(stats.loc['mean'])

## Menampilkan Standar Deviasi

Menggunakan *".loc['std']"* pada variabel **stats**

In [ ]:
print("Standar Deviasi:")
print(stats.loc['std'])

## Menampilkan Nilai Minimum

Menggunakan *".loc['min']"* pada variabel **stats**

In [ ]:
print("Nilai Minimum:")
print(stats.loc['min'])

## Menampilkan Nilai Maksimum

Menggunakan *".loc['max']"* pada variabel **stats**

In [ ]:
print("Nilai Maksimum:")
print(stats.loc['max'])

## Menampilkan Kuartil Pertama(Q1)

Menggunakan *".quantile(0.25)"* pada variabel **numeric_columns** untuk menampilkan 25% data terendah

In [ ]:
print("Kuartil Pertama (Q1):")
print(numeric_columns.quantile(0.25))

## Menampilkan Kuartil Kedua(Q2)

*".loc['50%']"* pada variabel **stats** untuk menampilkan median atau kuartil kedua(Q2)

In [ ]:
print("Kuartil Kedua (Q2 atau Median):")
print(stats.loc['50%'])

## Menampilkan Kuartil Ketiga(Q3)

Menggunakan *".quantile(0.75)"* pada variabel **numeric_stats** untuk menampilkan 25% data tertinggi

In [ ]:
print("Kuartil Ketiga (Q3):")
print(numeric_columns.quantile(0.75))

# Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

Menggunakan *'head(10)'* pada variabel **numeric_stats** untuk menampilkan 10 data pertama yang bertipe angka

In [ ]:
print(numeric_columns.head(10))

# Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka.

Membuat variabel **total_records** untuk menampung jumlah record keseluruhan

In [ ]:
total_records = len(df)

Membuat variabel **total_attributes** untuk menampung jumlah attribute keseluruhan

In [ ]:
total_attributes = df.shape[1]

Membuat variabel **attributes** untuk menampung semua nama kolom dalam bentuk list

In [ ]:
attributes = df.columns.tolist()

Membuat variabel **total_numeric_attributes** untuk menampung jumlah semua kolom yang bertipe numerik/angka

In [ ]:
total_numeric_attributes = len(df.select_dtypes(include=['number']).columns)

Membuat variabel **info_dict** bertipe dictionary untuk menampung semua data dengan "Jumlah Record", "Jumlah Attribute", "Nama Attribute", "Jumlah Attribute Numerik" sebagai key dan valuenya adalah variabel-variabel yang telah dibuat sebelumnya, pada value dari key "Nama Attribute" terdapat *", \n".join(attributes)*, ini digunakan untuk menghilangkan format penampilan data oleh variabel yang bertipe list.

In [ ]:
info_dict = {
    "Jumlah Record" : total_records,
    "Jumlah Attribute" : total_attributes,
    "Nama Attribute" : ", \n".join(attributes),
    "Jumlah Attribute Numerik" : total_numeric_attributes
}

i = 1
for key, value in info_dict.items():
    print("==========================================")
    if key == "Nama Attribute":
        print(f"{i} | {key} : \n{value}")
    else:
        print(f"{i} | {key} : {value}")    
    i+=1
    
print("==========================================")

# Menampilkan nilai dataset pada baris yang dimulai dari 3 digit NIM akhir(066) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

Menggunakan metode *".iloc[66:, 3:]"* memanggil data ke-66 hingga akhir di kolom ke-4 hingga terakhir

In [ ]:
df.iloc[66:, 3:]

Menggunakan metode *".loc[66:, df.columns[3:]]"* memanggil data ke-66 hingga akhir di kolom ke-4 hingga terakhir

In [ ]:
df.loc[66:, df.columns[3:]]

# Menampilkan jumlah nilai dari semua attribute yang bernilai object

Membuat variabel **object_columns** untuk menampung semua kolom yang bertipe object

In [ ]:
object_columns = df.select_dtypes(include=['object'])

Membuat variabel **attributes_names** untuk menampung semua nama kolom dan dibuat list dan membuat variabel **info_dict** untuk menampung semua nama kolom(key) dan jumlah nilai(value)

In [ ]:
attributes_names = object_columns.columns.tolist()
info_dict = {}

Menggunakan perulangan untuk memasukkan semua nama kolom ke dalam variabel **info_dict** sebagai key dan jumlah nilai menjadi value nya

In [ ]:
for column in attributes_names:
    info_dict[column] = df[column].value_counts()

Perulangan untuk menampilkan data yang ada di variabel **info_dict**

In [ ]:
i = 1
for key, value in info_dict.items():
    # print("------------------------------------------------------")
    print("\n======================================================")
    print(f"{i}| {key} \n------------------------------------------------------\n{value}")
    i+=1